@model Kit


<div class="kit-bg">
    <div class="kit-wrap">
        <div class="kit-image">
            <a><img src="@Model.ImageUrl" class="center"></a>
        </div>
        <div class="kit-info">
            <h3 class="kit-title"><a href="">@Model.Manufacturer</a></h3>
            <span class="price">@Model.Title</span>
        </div>
    </div>
</div>