@model KitViewModel
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <div><span asp-validation-for="Title" class="text-danger"></span></div>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Manufacturer"></label>
        <div><span asp-validation-for="Manufacturer" class="text-danger"></span></div>
        <input asp-for="Manufacturer" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Item"></label>
        <div><span asp-validation-for="Item" class="text-danger"></span></div>
        <input asp-for="Item" class="form-control" />
    </div>
    <div class="form-group">
        <div><span asp-validation-for="Size.Width" class="text-danger"></span></div>
        <label asp-for="Size.Width"></label>
        <input asp-for="Size.Width" type="number" class="form-control" />
        <div><span asp-validation-for="Size.Height" class="text-danger"></span></div>
        <label asp-for="Size.Height"></label>
        <input asp-for="Size.Height" type="number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <div><span asp-validation-for="ImageUrl" class="text-danger"></span></div>
        <input asp-for="ImageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="KitType"></label>
        <select asp-for="KitType" class="form-control" asp-items="@(Html.GetEnumSelectList<KitType>())"></select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>